img {
    padding: 5px;
    width: 150px;
    height: 150px;
  }

figcaption {
  color: black;
  font-style: bold;
  padding: 2px;
  text-align: center;
}

.button {
  padding: 100px 200px;
  font-size: 16px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.custom-menu {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  padding: 8px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.custom-menu-item {
  cursor: pointer;
  padding: 4px;
}