<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/static/styling.css">
</head>
<body>
<table>
    <tr> 
    {% for data in file_info %}
        <td>
            <figure  class="clickable {{data[4]}}">
                <img src={{data[1]}}></img>
                <figcaption id={{data[0]}}>{{data[3]}} ({{data[2]}})</figcaption>
            </figure>
        </td>        
    {% endfor %}
    </tr>  
</table>
<button onclick="handleTakeToStatsRequest()">Click to View Cloud Storage Stats</button>
<div id="customMenu" class="custom-menu">
    <div class="custom-menu-item" onclick="handleMenuItemClick(this)">Delete</div>
    <div class="custom-menu-item" onclick="handleMenuItemClick(this)">Download</div>
    <div class="custom-menu-item" onclick="handleMenuItemClick(this)">Copy</div>
</div>
</body>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="/static/utils.js"></script>
</html>